
.navbar-expand-lg{
  background-color: #DD761C;
}

.addNote1{
  margin: 0 auto;
  padding: 3%;
  background-color: #FEB941;
  border-radius: 2rem;
  box-shadow: 8px 8px 5px;
  font-family: 'Times New Roman', Times, serif;
  overflow: auto;
}

.btn-default:hover{
  background-color: #DBA979;
  color: black;
}
.btn-default{
  background-color: #DBA979;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.card {
  background-color: #FEB941;
  overflow: auto;
  max-height: 250px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 8px 8px 5px;
  border-radius: 1rem;
}

.card-footer{
  background-color: #DD761C;
}

h2{
  margin-bottom: 1rem;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
i{
  cursor: pointer;
}

.modal-body{
  background-color: #FDE49E;
}

.modal-header{
  background-color:#DD761C;
  border-color: black;
}

.modal-title{
  color: black
}

.modal-footer{
  background-color: #DD761C;
  border:0 1 1 2;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.877);
  margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.329);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

Link {
  color: #007bff;
  text-decoration: none;
}
Link:hover {
  text-decoration: underline;
}